body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 800px;
  background: #fff;
  margin: 16px auto;
  padding: 8px 16px;
}

.title,
.content,
.button-container {
  font-size: 2em;
  padding: 8px;
  margin: 16px 0px 8px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  display: block;
  font-size: 24px;
  margin: 0px auto;
  padding: 16px 32px;
  background: white;
  border: 1px solid #eee;
}